.container {
  overflow: scroll;
  width: 100%;
  height: 50vh;
}

.table {
  border: 1px solid gray;
}

.th {
  text-align: left;
  font-size: 12px;
}

.td {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}